

.big-container, .small-container, .response {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 40px 0;
}

img {
    width: 300px;
}
